body {
  background-image: url("watermelon.jpg");
  background-repeat: repeat;
}
p {
  font-family : "Brush Script Std", Brush Sript MT, cursive;
  border-style: solid;
  border-color: rgb(155,0,255);
  border-width: thick;
}
.eleanor{
  width:50%
}

.eleanor:hover {
  width: 100%
}
